html {
    /* 1 rem = 10px; 10px/16px = 62.5% */
    font-size: 62.5%;
}

body {
    font-family: 'Scania Sans Condensed V2';
    font-size: 1.8rem;
    color: #12043b;
}

.container {
    margin: 0 10%;
}

/* Top-Section */
.top-section {
  display: flex;
  justify-content: space-between;
}

/* Mid-Section */
.mid-section {
  background-color: pink;
  display: table;
  width: 100%
}


.form {
  background-color: yellow;
  width: 300px;
  height: 500px;
  float: left;
  flex: 50%;
}

.mid-text {
  float: right;
  width: 50%;
  text-align: center;
}

/* Bottom-Section */
.question-text {
    text-align: center;
}

.searchbar {
    text-align: center;
    padding: 3rem 0;
    display: flex;
    justify-content: center;
}

.searchbar input {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    width: 30%;
    background: #f1f1f1;
}

.searchbar button {
    width: 10%;
    padding: 15px;
    background: #2196F3;
    color: white;
    font-size: 10px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

/* Images-Section */
.images-section {
    display: flex;
    margin-left: 15px;
}

.images-section row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.image-section column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.image {
    margin: 1rem;
}

.image-one {
  background-color: #ffd470;
}

.image-one h3 {
  color: #e86609;
}

.image-one p {
  padding-bottom: 20px;
}

.image-one h3, p {
  padding: 0 20px 0 20px;
}

.image-two {
  background-color: #c7eaff;
}

.image-two h3 {
  color: #4179e0;
}

.image-two p {
  padding-bottom: 20px;
}

.image-two h3, p {
  padding: 0 20px 0 20px;
}

.image-three {
  background-color: #ffcffd;
}

.image-three h3 {
  color: #e637bd;
}

.image-three p {
  padding-bottom: 20px;
}

.image-three h3, p {
  padding: 0 20px 0 20px;
}

.image-four {
  background-color: #c7eaff;
}

.image-four h3 {
  color: #4179e0;
}

.image-four p {
  padding-bottom: 20px;
}

.image-four h3, p {
  padding: 0 20px 0 20px;
}

.image-five {
  background-color: #ffcffd;
}

.image-five h3 {
  color: #e637bd;
}

.image-five p {
  padding-bottom: 20px;
}

.image-five h3, p {
  padding: 0 20px 0 20px;
}

.image-six {
  background-color: #d1ffc4;
}

.image-six h3 {
  color: #39ed4e;
}

.image-six p {
  padding-bottom: 20px;
}

.image-six h3, p {
  padding: 0 20px 0 20px;
}

.image-seven {
  background-color: #d1ffc4;
}

.image-seven h3 {
  color: #39ed4e;
}

.image-seven p {
  padding-bottom: 20px;
}

.image-seven h3, p {
  padding: 0 20px 0 20px;
}

.image-eight {
  background-color: #ffd470;
}

.image-eight p {
  padding-bottom: 20px;
}

.image-eight h3, p {
  padding: 0 20px 0 20px;
}

.image-nine {
  background-color: #c7eaff;
}

.image-nine h3 {
  color: #4179e0;
}

.image-nine p {
  padding-bottom: 20px;
}

.image-nine h3, p {
  padding: 0 20px 0 20px;
}

.more-button {
    background-color: #2878b5;
    border: none;
    color: white;
    padding: 5px 10px;
    margin: auto;
    width: 50%;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    cursor: pointer;
    margin-top: 50px;
}

/* Footer */
.footer {
    text-align: center;
    color: white;
    background-color: #052d4d;
    margin-top: 5rem;
}

/* Mediaqueries */

/* Mobile */
@media only screen and (max-width: 480px) {
    body {

    }
}

/* Tablet */
@media only screen and (max-width: 768px) {
    body {

    }
}

/* Tablet Landscape */
@media only screen and (max-width: 1024px) {
    .images-section {

    }
}

/* Laptop */
@media only screen and (max-width: 1600px) {
    .images-section {

    }
}
